h1 {

    color: red;

}

.custom-heading {
    color: blue; /* or any other color you want */
}




.custom-widget {
    color: red;
    width: 200px;
    margin: 0 10px 0 0;
    padding: 5px;
    border: 1px solid #ccc;
}